page-home {
    .toolbar-background {
        background-color: #232f3e;
        color: white;
    }
    .button-inner {
        color: white;
    }
    .toolbar-title-md {
        color: white;
    }
    .toolbar-title-ios {
        color: white;
    }
}